.tagBox {
  border: 2px solid #dda;
  border-radius: 3px;
  background-color: #ddd;
  width: 70px;
  margin: 2px 5px 6px 0px !important;
  height: 30px !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.tagBox p {
  margin: 0;
}
